
.contenedor1{
    display: flex;
    align-items: center;
    background-color: var(--tercer-color);
    max-width: 1000px;
    margin: 4% 20%;
}

#enemigo1{
    width: 10vw;
    margin-left: 5vw; margin-right: 2VW;
}
#txtEnemigo1{
    margin-right: 15%; margin-bottom: 6%;
    padding: 2%;
    text-align: left;
    font-size: large;
    font-weight: 800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
.contenedor2{
    display: flex;
    align-items: center;
    background-color: var(--tercer-color);
    max-width: 1000px;
    margin: 4% 20%;
}
#enemigo2{
    width: 13vw;
    margin-left: 2vw; margin-right: 2VW;
}
#txtEnemigo2{
    margin-left: 15%; margin-bottom: 6%;
    padding: 2%;
    text-align: right;
    font-size: large;
    font-weight: 800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}