#contribuciones{
    width: 15%;
}
.text2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.panel{
    background-color: var(--primary-color);
    height: 80vh; width: 18vh;
    border-radius: 15px;
    box-shadow: 0 4px 5px var(--secondary-color);
    margin-top: 100%;
    position: sticky;
    top: 15%;
}
#txtPanel{
    text-align: center;   
}
#imgdelantal{
    width: 50%;
}
#imgEspatula{
    width: 30%;
}
#imgSarten{
    width: 60%;
}