.cabecera{
    background-color: rgb(255, 144, 199);
    box-shadow: 0 4px 5px rgb(172, 62, 104);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.barraNavegacion{
    max-width: 900px;
    padding: 10px;
    margin: 0 auto;
}
nav ul {
    height: 50px;
    display: flex;
    list-style: none;
    padding: 0; 
}
nav li{
    padding: 0 5%;
    text-align: center;
    line-height: 50px;
    font-weight: 400;
}

a {
    
    text-decoration: none;
    color: rgb(59, 21, 40);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav a:hover {
    text-decoration: underline;
}